@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans Thai', 'Fira Code', monospace;
  color: #24292e;
  background-color: #f6f8fa;
}

.project-disabled {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.6);
}

.project-disabled .restore-button {
  color: #1976d2;
}
