.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E0F7FF;
}

.paper {
  padding: 2rem;
  width: 100%;
  background-color: #B0C4DE;
}

@media (max-width: 600px) {
  .paper {
    padding: 1rem;
  }
}
